@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.container:first-of-type{
    background-color: hsl(218, 23%, 16%);
}

#box{
    background-color: hsl(217, 19%, 24%);
    position:relative;
}

.title{
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;
}

.advice{
    color:hsl(193, 38%, 86%);
    letter-spacing: 0.5px;
}

#circle{
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom:-20px;
    left: calc(50% - 19px);
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    -o-transition: 0.1s ease;
}

#circle::after{
    content: url(../images/icon-dice.svg);
    position: absolute;
    bottom:2px;
    left: calc(50% - 12px);
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

#circle:hover{
    box-shadow: 0px 0px 25px  hsl(150, 100%, 66%);
    cursor: pointer;
}

#circle:active{
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}